#Property

port = 8484
adminPort = 7071
dbCatalogAccounts = wvsbeta
dbAccountsSource = 127.0.0.1,3306
requiresEULA = 1
requiresPIN = 0
tespia = 1
disableMultiIP = 1

PublicIP = 127.0.0.1
PrivateIP = 127.0.0.1
#redis = 127.0.0.1:6379

logaccount = {
	0 = 13
	1 = 33
}

center = {
	Tespia = {
		ip = 127.0.0.1
		port = 8383
		world = 20
		channelNo = 1
		tespia = 1
		worldRibbon = 1 # Normal = 1, Event = 1, New = 2, Hot = 3
		worldMessage = Welcome to MapleStory!
		userWarning = 6
		userLimit = 10
	}
	Scania = {
		ip = 127.0.0.1
		port = 8384
		world = 0
		channelNo = 1
		tespia = 1
		worldRibbon = 1 # Normal = 1, Event = 1, New = 2, Hot = 3
		worldMessage = Welcome to MapleStory!
		userWarning = 6
		userLimit = 10
	}
}
